.space{
    margin-left: 12%;
}

.heading{
    color: #fff;
    font-weight: bolder;
}

label{
    color: orangered;
}

h8{
    color: green;
    font-weight: bolder;
}



.sheet{
    position: absolute;
}

.Form{
    position: relative;
}